<template>
  <v-card
    class="mx-auto"
    max-width="344"
  >

    <v-img
      :src="path_image(path_img)"
      height="200px"
    ></v-img>
    <v-card-title>
      {{card_title}}
    </v-card-title>

    <v-card-subtitle>
      {{card_subtitle}}
    </v-card-subtitle>

    <v-card-actions>
      <v-btn
        color="blue lighten-2"
        text
        :href="action_link(btn_link)"
      >
        MAIS INFORMAÇÕES
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        icon
        @click="show = !show"
      >
        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
          {{card_text}}
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
  export default {
    props: {
      card_title: String,
      card_subtitle: String,
      card_text: String,
      path_img: String,
      btn_link: String
    },
    methods: {
      path_image: function (path) {
        let images = require.context('../assets/', false, /\.png$|\.jpg$/)
        return images("./"+path)
      },
      action_link: function (link){
        return link
      }
    },
    data: () => ({
      show: false,
    }),
  }
</script>