<template>
  <v-carousel hide-delimiters>
    <v-carousel-item 
      src="../assets/slide1.jpg"
      gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
    >
      <div class="text-banner">
        <h1>Bem Vindo ao GCM Geek</h1>
        <h3>
          Em breve estaremos 100% para te <p/> 
          proporcionar a melhor experiência Geek <p/>
        </h3>
        <h5>
          Tudo sobre Animes, Cinemas, Mangás,
          Quadrinhos e muito mais...
        </h5>
      </div>    
    </v-carousel-item>
    <v-carousel-item 
      src="../assets/slide2.png"
      gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
    ></v-carousel-item>
    <v-carousel-item 
      src="../assets/slide3.jpg"
      gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
    ></v-carousel-item>
  </v-carousel>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          },
        ],
      }
    },
  }
</script>
<style>
.text-banner {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
  color: white;
  font-size: 30px;
  padding: 2%;
}
</style>