<template>
  <v-footer
    dark
    padless
  >
    <v-card
      flat
      tile
      class="dark-1 white--text text-center"
      width="100%"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text pt-0">
        Br 226 s/n | Bairro São Geraldo, Pau dos ferros - RN | Brasil <p/>
        Desenvolvido por: Mateus e Edgle
      </v-card-text>

      <!-- <v-divider></v-divider> -->

      <v-card-text class="white--text">
        Copyright© {{ new Date().getFullYear() }} — <strong>GCM Geek | Universidade Federal Rural do Semi-Árido</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
      icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-instagram',
      ],
    }),
  }
</script>