<template>
    <v-app-bar
      app
      color="orange"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="../assets/logo-gcm.svg"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-sm-and-down">
         <v-btn text>
          Animes
        </v-btn>

         <v-btn text>
          Cinema
        </v-btn>

        <v-btn text>
          Mangás
        </v-btn>

        <v-btn text>
          Quadrinhos
        </v-btn>

      </v-toolbar-items>

      <div class="text-center">
        <v-dialog
          v-model="dialog"
          width="500"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="ma-2"
              outlined
              color="orange"
              v-bind="attrs"
              v-on="on"
            >
              Login
            </v-btn>
          </template>

          <v-card>
            <v-card-title class="text-h5 orange lighten-2">
              DESCULPE :/
            </v-card-title>

            <v-card-text>
              Ainda estamos em processo de desenvolvimento. Mas não se preocupe que logo logo estaremos 100% ativos e prontos para te proporcionar a melhor experiência Geek.
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                text
                @click="dialog = false"
              >
                fechar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-app-bar>
</template>

<script>
export default {
    name: 'Navbar',
    data () {
      return {
        dialog: false,
      }
    },    
}
</script>
