<template>
  <v-row align="center" class="post">
    <v-item-group
      v-model="window"
      class="shrink mr-6"
      mandatory
      tag="v-flex"
    >
      <v-item
        v-for="n in length"
        :key="n"
        v-slot="{ active, toggle }"
      >
        <div>
          <v-btn
            :input-value="active"
            icon
            color="orange"
            @click="toggle"
          >
            <v-icon>mdi-record</v-icon>
          </v-btn>
        </div>
      </v-item>
    </v-item-group>

    <v-col>
      <v-window
        v-model="window"
        class="elevation-1"
        vertical
      >
        <v-window-item>
          <v-card flat color="#242424" dark tile>
            <v-card-text>
                <v-row
                    class="mb-4"
                    align="center"
                >
                    <strong class="text-h6">ANIMES</strong>
                    <v-spacer></v-spacer>
                </v-row>

                <p>
                    Anime ou animê (como é dito no Brasil) é o nome dado para o tipo de desenho animado produzido no Japão. No entanto, de acordo com o conceito japonês dos animes, este termo é utilizado para classificar todos os tipos de animações, ou seja, independente da sua origem (nacional ou estrangeira).                
                </p>

                <p>
                    A origem da palavra anime é incerta. Alguns pesquisadores consideram que seja uma abreviação do inglês animation (“animação”), enquanto outros defendem que possa ter surgido a partir do francês animée (“animado”). O anime é confundido erroneamente como um gênero de animação, quando na verdade é apenas um meio, já que pode apresentar inúmeros tipos diferentes, como infantil, terror, romance, comédia, aventura, erótico, ficção científica, etc.
                </p>

                <p>
                    No Brasil, os animes começaram a fazer bastante sucesso a partir de meados da década de 1980. Entre os títulos mais populares está Dragon Ball, Naruto, Cavaleiros do Zodíaco, Sakura Card Captor, Pokémon, Digimon, Sailor Moon, Death Note, One Piece e vários outros. Os animes são consumidos principalmente pelos otakus, que no ocidente convencionou-se chamar as pessoas que são fanáticas pela cultura pop japonesa. Entre os otakus também existem os cosplayers, fãs de determinado anime ou mangá que gostam de se caracterizar como alguns personagens das suas séries japonesas favoritas.
                </p>

                <v-btn
                    color="blue lighten-2"
                    text
                    href="https://www.significados.com.br/anime/"
                >
                    ACESSAR REFERÊNCIA
                </v-btn>
            </v-card-text>
          </v-card>
        </v-window-item>

        <v-window-item>
          <v-card flat color="#242424" dark tile>
            <v-card-text>
                <v-row
                    class="mb-4"
                    align="center"
                >
                    <strong class="text-h6">CINEMA</strong>
                    <v-spacer></v-spacer>
                </v-row>
                <p>
                    O Cinema (do em grego: κίνημα, kinema "movimentos" e γράφειν, graphein "registrar"), também chamada sétima arte, ou, em certos contextos cinematografia, pode ser definida como a técnica e a arte de fixar e de reproduzir imagens que suscitam impressão de movimento, assim como a indústria que produz estas imagens. As obras cinematográficas (mais conhecidas como filmes) são produzidas através da gravação de imagens do mundo com câmeras adequadas, ou pela sua criação utilizando técnicas de animação ou efeitos visuais específicos.Mais especificamente, pode ser descrita como o "conjunto de princípios, processos e técnicas utilizados para captar e projetar numa tela imagens estáticas sequenciais (fotogramas) obtidas com uma câmera especial, dando impressão ao espectador de estarem em movimento". O diretor de arte pode ser descrito como o principal colaborador visual de um diretor de cinema. Também se usa a palavra 'cinegrafia', estando dicionarizada.
                </p>

                <p>
                    Os filmes são assim constituídos por uma série de imagens impressas em determinado suporte, alinhadas em sequência, chamadas fotogramas. Quando essas imagens são projetadas de forma rápida e sucessiva, o espectador tem a ilusão de observar movimento. A cintilação entre os fotogramas não é percebida devido a um efeito conhecido como persistência da visão: o olho humano retém uma imagem durante uma fração de segundo após a sua fonte ter saído do campo da visão. O espectador tem assim a ilusão de movimento, devido a um efeito psicológico chamado movimento beta. O cinema é um artefato cultural criado por determinadas culturas que nele se refletem e que, por sua vez, as afetam. É uma arte poderosa, é fonte de entretenimento popular e, destinando-se a educar ou doutrinar, pode tornar-se um método eficaz de influenciar os cidadãos. É a imagem animada que confere aos filmes o seu poder de comunicação universal. Dada a grande diversidade de línguas existentes, é pela dublagem (dobragem) ou pelas legendas, que traduzem o diálogo noutras línguas, que os filmes se tornaram mundialmente populares.
                </p>

                <v-btn
                    color="blue lighten-2"
                    text
                    href="https://pt.wikipedia.org/wiki/Cinema"
                >
                    ACESSAR REFERÊNCIA
                </v-btn>

            </v-card-text>
          </v-card>
        </v-window-item>

        <v-window-item>
          <v-card flat color="#242424" dark tile>
            <v-card-text>
                <v-row
                    class="mb-4"
                    align="center"
                >
                    <strong class="text-h6">MANGÁS</strong>
                    <v-spacer></v-spacer>
                </v-row>

                <p>
                    Mangá é o nome dado para as histórias em quadrinho japonesas, caracterizadas por serem lidas da direita para a esquerda, ao contrário das convencionais HQs ocidentais. Sua origem está no Teatro das Sombras, que na época do Japão feudal percorria diversos vilarejos contando lendas por meio de fantoches. Essas lendas acabaram sendo escritas em rolos de papel e ilustradas, dando origem às histórias em sequência, e consequentemente originando os mangás.
                </p>

                <p>
                    Vários mangás dão origem aos animes, que são exibidos na televisão, em vídeo ou cinemas, mas também há o processo inverso, quando os animes tornam-se uma edição impressa de história em sequência ou de ilustrações. A forma atual dos mangás surgiu no início do século XX, sob influência de revistas e jornais comerciais ocidentais, vindas dos Estados Unidos e Europa, que traziam humor, sátiras sociais e políticas em curtas tiras de um ou quatro quadros. Os mangás abordam todos os temas, como vida escolar, trabalho, esportes, amor, guerra, medo, literatura japonesa e chinesa, economia, finanças, e muito mais.
                </p>

                <p>
                    Os mangás são geralmente classificados de acordo com o seu público-alvo. As histórias que são feitas para os meninos são chamadas de shounen, como One Piece, Naruto e Bleach, por exemplo. Por outro lado, as histórias que visam entreter as meninas são chamadas de shoujo. Existem ainda outros gêneros, como o gekigá, que é mais voltada ao público adulto, não necessariamente com temas adultos.                    
                </p>                
                <v-btn
                    color="blue lighten-2"
                    text
                    href="https://www.significados.com.br/manga/"
                >
                    ACESSAR REFERÊNCIA
                </v-btn>
            </v-card-text>
          </v-card>
        </v-window-item>

        <v-window-item>
          <v-card flat color="#242424" dark tile>
            <v-card-text>
                <v-row
                    class="mb-4"
                    align="center"
                >
                    <strong class="text-h6">QUADRINHOS</strong>
                    <v-spacer></v-spacer>
                </v-row>

                <p>
                    História em quadrinhos - ou HQ - é o nome dado à arte de narrar histórias através de desenhos e textos em sequência, normalmente na horizontal. Essas histórias possuem os fundamentos básicos das narrativas: enredo, personagens, tempo, lugar e desfecho. No geral, apresentam linguagem verbal e não-verbal. Os artistas utilizam diversos recursos gráficos nesse gênero textual para trazer o leitor para "dentro" da história contada. Para comunicar as falas das personagens, por exemplo, são empregados balões com textos escritos. O formato desses balões também transmite intenções distintas.
                </p>
                <p>
                    Por exemplo, balões com linhas contínuas sugerem uma fala em tom normal; os balões com linhas tracejadas indicam que a personagem está sussurrando; os balões em forma de nuvens apontam pensamentos; já os balões com traços pontiagudos exibem gritos. Outro recurso bastante explorado são as onomatopeias, definidas como palavras que tentam reproduzir os sons. Exemplo: “cabrum”, como o som de trovão; “tic-tac”, como o som dos ponteiros do relógio, entre outros.                    
                </p>
                <v-btn
                    color="blue lighten-2"
                    text
                    href="https://www.todamateria.com.br/historia-em-quadrinhos/"
                >
                    ACESSAR REFERÊNCIA
                </v-btn>

            </v-card-text>
          </v-card>
        </v-window-item>

      </v-window>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    data: () => ({
      length: 4,
      window: 0,
    }),
  }
</script>

<style scoped>
    .post {
        padding: 2%;
    }
</style>