<template>
  <v-app>
    <Navbar/>
    <v-main class="body">
      <Carousel/>
      <v-container class="container-cards">
        <v-row no-gutters>
          <v-col>
            <Card 
              card_title='Universo Naruto' 
              card_subtitle="Criado por: Masashi Kishimoto"
              card_text="Em Naruto, criado a partir de várias influências, os personagens principais são ninjas que possuem uma força espiritual chamada chakra, o que lhes permite usar uma variedade de técnicas de luta (jutsu) fictícias, variando de acordo com o usuário. Em adição a esta originalidade, o aparecimento desses ninjas estão longe dos estereótipos usuais do Japão feudal em que a série toma emprestado muitos conceitos, no entanto, misturá-los com alguns do xintoísmo, budismo, e até mesmo taoísmo e hinduísmo."
              path_img='naruto.jpg'
              btn_link="https://pt.wikipedia.org/wiki/Universo_de_Naruto"
            />
          </v-col>
          <v-col>
            <Card 
              card_title='Universo Star Wars'
              card_subtitle="Criado por: George Lucas"
              card_text="Star Wars (Guerra nas Estrelas/A Guerra das Estrelas) é o título de uma 'ópera espacial', nas próprias palavras do seu autor que assim designou o universo de fantasia que compunha este projeto, que foi transformada em uma série de nove filmes de ficção científica. Como subprodutos surgiram também uma franquia literária, uma série de jogos eletrônicos e desenhos animados (incluindo a Nova Trilogia, sequências e adaptações literárias) baseados nas idéias do diretor e roteirista George Lucas."
              path_img='starwars.png'
              btn_link="https://starwars.fandom.com/pt/wiki/Star_Wars"
            />
          </v-col>
          <v-col>
            <Card 
              card_title='Universo Dragon Ball' 
              card_subtitle="Criado por: Akira Toriyama"
              card_text="Dragon Ball (ドラゴンボール Doragon Bōru, lit. 'Esfera do Dragão'?) é uma franquia de mídia japonesa criada por Akira Toriyama. Originalmente iniciada com uma série de mangá que foi escrita e ilustrada por Toriyama, teve os seus capítulos serializados na revista Weekly Shonen Jump de 1984 a 1995, com os seus 519 capítulos compilados em 42 volumes tankōbon e publicados pela editora Shueisha. Dragon Ball foi inicialmente inspirado pelo clássico romance chinês Jornada ao Oeste."
              path_img='dragonball.jpg'
              btn_link="https://www.kamisama.com.br/universo-galaxias/#:~:text=De%20todos%20os%20animes%2C%20com,gal%C3%A1xias%20(%E9%8A%80%E6%B2%B3%2C%20ginga)."
            />
          </v-col>   
        </v-row>
      </v-container>
      <v-parallax class="teste" src="./assets/slide1.jpg"></v-parallax>
      <Posts/>
      <Footer/>
    </v-main>
  </v-app>
</template>

<script>
import Carousel from './components/Carousel.vue';
import Navbar from './components/Navbar.vue';
import Card from './components/Card.vue';
import Footer from './components/Footer.vue'
import Posts from './components/Posts.vue'

export default {
  name: 'App',

  components: {
    Carousel,
    Navbar,
    Card,
    Footer,
    Posts
  },

  data: () => ({
    model: 0,
  }),
};
</script>

<style>
  .body {
    background: #242424;
    width: 100%;
  }
  .container-cards {
    margin-top: 20px;
    margin-bottom: 30px;
  }
</style>
